<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.1" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Factory" version="3.2.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="Portable.Ninject" version="3.3" targetFramework="net45" />
  <package id="Xamarin.UITest" version="0.5.0" targetFramework="net45" />
</packages>