<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="outputPath" value="c:\temp\parser"/>
    <add key="parseMode" value="partial"/><!--"partial" or "full"-->
    <add key="parseItems" value="both"/><!--"sessions" or "exhibitors" or "both"-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
