<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>TaskyVB</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleIdentifier</key>
	<string>TaskyVB</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>CFBundleName</key>
	<string>TaskyVB</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon-1.appiconset</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
