*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user

*.pfx

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*_ReSharper.*/

*/*/*/Resource.Designer.cs

MWC/MWC.Core/Bin/*
MWC/MWC.Droid/Bin/*
MWC/MWC.Droid/Resources/Resource.Designer.cs
MWC/MWC.WP7/Bin/*
MWC/MWC.Core.WP7/Bin/Debug/*
*.db