Components
packages
bin
obj

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
*.lock.json
*.nuget.props
*.nuget.targets
.vs

# ignore Xamarin.Android Resource.Designer.cs files
**/*.Droid/**/[Rr]esource.[Dd]esigner.cs
**/*.Android/**/[Rr]esource.[Dd]esigner.cs
**/Android/**/[Rr]esource.[Dd]esigner.cs

*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*
*_ReSharper.*/

MWC/MWC.Core/Bin/*
MWC/MWC.Droid/Bin/*
MWC/MWC.WP7/Bin/*
MWC/MWC.Core.WP7/Bin/Debug/**.db

RazorTodo/*/Components

/TaskyPro/.bundle/
/TaskyPro/.idea/
/TaskyPro/.irb-history
/TaskyPro-Calabash/.irb-history
/TaskyPro-Calabash/.idea/
/TaskyPro-Calabash/.bundle/
/TaskyPro-Calabash/test_servers/881cf2ba5a1f5085e65ee49f9c92e00c_0.4.21.apk
/TaskyPro-Calabash/test_servers/
/TaskyPro-Calabash/rake_env

/HelloTestCloudWorld/rake_env
/HelloTestCloudWorld/HelloWorld.Android/mono.samples.helloworld.apk
/HelloTestCloudWorld/.irb-history
/HelloTestCloudWorld/.idea/
/HelloTestCloudWorld/test_servers/

CreditCardValidation/CreditCardValidation-Calabash/.idea
CreditCardValidation/CreditCardValidation-UITest/packages/Xamarin.UITest.*
CreditCardValidation/.idea
CreditCardValidation/UITest/packages/Xamarin.UITest.0.5.0

.idea

TaskyPro/test_servers
TaskyPro-Calabash/screenshot*.png

TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.Common/bin
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.Common/obj
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.Droid/obj
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.iOS/bin
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.Droid/bin
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.iOS/obj
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.Tests/obj
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.Tests/bin
TestCloud/CreditCardValidation/CreditCardValidation-Calabash/calabash.framework
TestCloud/CreditCardValidation/CreditCardValidation-Start/CreditCardValidation.iOS/obj
TestCloud/CreditCardValidation/CreditCardValidation-Start/CreditCardValidation.Droid/obj
TestCloud/CreditCardValidation/CreditCardValidation-Start/CreditCardValidation.Common/obj
TestCloud/CreditCardValidation/CreditCardValidation-Start/CreditCardValidation.Common/bin
TestCloud/CreditCardValidation/CreditCardValidation-Start/CreditCardValidation.Droid/bin
TestCloud/CreditCardValidation/CreditCardValidation-Start/CreditCardValidation.iOS/bin
TestCloud/CreditCardValidation/CreditCardValidation-UITest/CreditCardValidation.Tests/xtc-apikey

CoinTime/CoinTime/Assets/Content/animations/coinanimations.aeproperties
CoinTime/CoinTime/Assets/Content/animations/dooranimations.aeproperties
CoinTime/CoinTime/Assets/Content/animations/playeranimations.aeproperties
CoinTime/CoinTime/Assets/Content/animations/propanimations.aeproperties

CCDrawNode/Screenshots/Thumbs.db
FruityFalls/FruityFalls/FruityFalls.Android/Assets/Content/Sounds/AndroidObj/
FruityFalls/FruityFalls/FruityFalls.Android/Assets/Content/Sounds/iOSObj/
.vscode/settings.json
