<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.3" package="com.xamarin.samples.taskydroid" android:versionCode="4">
	<application android:label="Tasky" android:debuggable="true" android:icon="@drawable/ic_launcher" android:theme="@style/Theme.TaskyPro">
	</application>
	<uses-sdk android:minSdkVersion="15" />
</manifest>