<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Location.Droid" android:versionCode="2" android:versionName="2" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<application android:label="Location.Droid" android:icon="@drawable/icon" android:theme="@style/AppTheme"></application>
</manifest>