<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.393" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Media" version="3.1.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.280" targetFramework="portable45-net45+win8+wpa81" />
</packages>