<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorldService" />
                <binding name="BasicHttpBinding_IHelloWorldService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9608/HelloWorldService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloWorldService1"
                contract="ServiceReference1.IHelloWorldService" name="BasicHttpBinding_IHelloWorldService1" />
        </client>
    </system.serviceModel>
</configuration>