<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Banana-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,108}}</string>
                <key>sourceSize</key>
                <string>{44,108}</string>
            </dict>
            <key>frame-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{391,555}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,555}}</string>
                <key>sourceSize</key>
                <string>{391,555}</string>
            </dict>
            <key>frame-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{390,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,553}}</string>
                <key>sourceSize</key>
                <string>{390,553}</string>
            </dict>
            <key>frame-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{387,566}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,566}}</string>
                <key>sourceSize</key>
                <string>{387,566}</string>
            </dict>
            <key>frame-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,2},{386,579}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,579}}</string>
                <key>sourceSize</key>
                <string>{386,579}</string>
            </dict>
            <key>frame-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,2},{387,573}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,573}}</string>
                <key>sourceSize</key>
                <string>{387,573}</string>
            </dict>
            <key>frame-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{389,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,560}}</string>
                <key>sourceSize</key>
                <string>{389,560}</string>
            </dict>
            <key>frame-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,583},{390,553}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,553}}</string>
                <key>sourceSize</key>
                <string>{390,553}</string>
            </dict>
            <key>frame-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,583},{389,557}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,557}}</string>
                <key>sourceSize</key>
                <string>{389,557}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkey.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c63ac17999f746ee253cb9e63215058f:7b9d55d9c4db1e73987b80a4545fa776:c408e1678cc8476d89ba18c5256b3484$</string>
            <key>textureFileName</key>
            <string>monkey.png</string>
        </dict>
    </dict>
</plist>
