<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.1" package="com.xamarin.samples.taskydroid" android:versionCode="2">
	<application android:label="Tasky" android:debuggable="true" android:icon="@drawable/ic_launcher">
	</application>
	<uses-sdk />
</manifest>