<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="CreditCardValidation.Droid" android:theme="@android:style/Theme.Holo.Light">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="@string/app_name" android:icon="@drawable/icon">
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>