<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="RazorTodo.Android">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />
	<application android:label="RazorTodo.Android" android:icon="@drawable/check2x">
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>