<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>farBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{384,224}</string>
                <key>spriteSourceSize</key>
                <string>{384,224}</string>
                <key>textureRect</key>
                <string>{{2,2},{384,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-40}</string>
                <key>spriteSize</key>
                <string>{384,144}</string>
                <key>spriteSourceSize</key>
                <string>{384,224}</string>
                <key>textureRect</key>
                <string>{{389,2},{384,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>forestBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-42}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,224}</string>
                <key>textureRect</key>
                <string>{{776,2},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sheet.png</string>
            <key>size</key>
            <string>{938,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f27a7006a3ca0e9893c4aeb6ff8e6bd4:c2d8d3b7c2e206228eea755e4154bdb2:e9c8e58805a65805a9872e91554d7434$</string>
            <key>textureFileName</key>
            <string>sheet.png</string>
        </dict>
    </dict>
</plist>
