<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Tasky</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon-57</string>
		<string>icon-114</string>
		<string>icon-72</string>
		<string>icon-29</string>
		<string>icon-58</string>
		<string>icon-50</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.xamarin.samples.taskytouch</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>6.1</string>
</dict>
</plist>
